.text-center {
    text-align: center;
}

h1 {
    font-size: 2.5vw;
}

.text-responsive {
    font-size: 1.5vw;
}

img {
    width: 33%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
table {
    width: 100%;
    table-layout: fixed;
}
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    height: 30px;
}
.element-symbol {
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}
.element-info {
    font-size: 1vw;
    text-align: justify;
    text-align-last: justify;
}
.alkali-metal {
    background-color: #ff9d9d;
}
.alkaline-earth-metal {
    background-color: #ffdead;
}
.lanthanide {
    background-color: #ffbfff;
}
.actinide {
    background-color: #ff99cc;
}
.transition-metal {
    background-color: #ffc0c0;
}
.post-transition-metal {
    background-color: #cccccc;
}
.metalloid {
    background-color: #cccc99;
}
.reactive-nonmetal {
    background-color: #f0ff8f;
}
.noble-gas {
    background-color: #c0ffff;
}
.unknown-chemical-properties {
    background-color: #e8e8e8;
}
